ion-content {
    --ion-background-color: #fff;
}

ionic-selectable ion-modal {
    --ion-background-color: #fff;
}

.wrapper {
    padding: 20px;
    
    ion-item {
        --padding-start: 0;
        --padding-end: 0;
    }

    p {
        text-align: center;
    }
}