<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="!isFamily" tab="tab1">
      <ion-icon name="school"></ion-icon>
      <ion-label>Aulas</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isFamily" tab="tab4">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Alumno</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!isAdmin" tab="tab2">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Anuncios</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!isAdmin" tab="tab3">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
