<ion-header mode="md">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-center" size="12" size-md="6" offset-md="3">
        <ion-card>
          <div class="image-wrapper">
            <img *ngIf="image" src="../../../../assets/icon/profile/{{image}}">
          </div>
          <h1>{{title}}</h1>
          <div class="date-wrapper">
            <h3>Cumpleaños: </h3>
            <p *ngIf="birthdate">{{birthdate.getDay()}}/{{birthdate.getMonth()}}/{{birthdate.getFullYear()}}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-center" size="12" size-md="6" offset-md="3">
        <ion-card>
          <div class="goals">
            <h3>Hitos disponibles {{today}}</h3>
            <ion-item *ngFor="let goal of goals">
              <ion-label>
                <img src="../../../../assets/icon/goals/{{goal.image}}" />
                <span>{{goal.name}}</span>
              </ion-label>
              <ion-toggle color="primary"></ion-toggle>
            </ion-item>

            <ion-button expand="block">Guardar</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>