<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Anuncios</ion-title>
    <ion-buttons slot="end">
      <ion-button class="profile" color="primary" fill="outline" [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="wrapper">
    
    <ion-row>
      <ion-col size-sm="12" size-md="6" offset-md="3">
        <ion-card *ngFor="let publication of publications">
          <ion-card-header>
            <ion-card-title>{{publication.title}}</ion-card-title>
            <ion-card-subtitle>{{publication.author.name}} - {{publication.date.toLocaleString().split(" ")[0]}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{publication.content}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/tabs/tab2/create-publication']">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
