<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Aulas</ion-title>
    <ion-buttons slot="end">
      <ion-button class="profile" color="primary" fill="outline" [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size-md="6" offset-md="3">
          <ion-card (click)="onNavigateToClassroom(classroom)" *ngFor="let classroom of classrooms" [routerLink]="['/tabs/tab1/classroom', classroom.id]">
            <div class="card-wrapper">
              <div>
                <span>{{classroom.name.charAt(0)}}</span>
                <ion-card-title>{{classroom.name}}</ion-card-title>
              </div>
              <div>
                <ion-button *ngIf="isAdmin" size="small" fill="none" (click)="onEdit($event, classroom.id)">
                  <ion-icon slot="icon-only" color="primary" name="create-outline"></ion-icon>
                </ion-button>
                <ion-button *ngIf="isAdmin" size="small" fill="none" (click)="onRemove($event, classroom.id)">
                  <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab *ngIf="isAdmin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/tabs/tab1/create-classroom']"><ion-icon name="school" color="primary"></ion-icon></ion-fab-button>
      <ion-fab-button [routerLink]="['/signup']"><ion-icon name="person-add" color="primary"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
