<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Aula</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-start" size="4" *ngFor="let student of students">
       <ion-card>
         <img height="50px" src="../../../../assets/icon/profile/{{student.image}}" alt="">
         <h2>{{student.name}}</h2>
       </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab [routerLink]="['/tabs/tab1/add-student']" *ngIf="isTeacher" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="person-add-outline"></ion-icon>  </ion-fab-button>
</ion-fab>